table, th, td {
  border: 1px solid rgb(223, 223, 223);
}


table {
  border-collapse: collapse;
}



td {
  min-width: 120px;
  
  
}

tr {
height: 30px;
}

/* 
p {
  display:block
}


td:hover {
  border-color:blue
}


td:hover input {
  display:block;
}

td:hover p {
  display:none;
}


*/

input {
  width:99%;
  height:99%;
  display:none;
  outline: none;
  border: none;
} 